@font-face {
  font-family: 'Noto Serif KR';
  font-weight: 100;
  src: url('@assets/fonts/NotoSerifKR-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif KR';
  font-weight: 200;
  src: url('@assets/fonts/NotoSerifKR-Light.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif KR';
  font-weight: 400;
  src: url('@assets/fonts/NotoSerifKR-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif KR';
  font-weight: 500;
  src: url('@assets/fonts/NotoSerifKR-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif KR';
  font-weight: 600;
  src: url('@assets/fonts/NotoSerifKR-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif KR';
  font-weight: 700;
  src: url('@assets/fonts/NotoSerifKR-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif KR';
  font-weight: 800;
  src: url('@assets/fonts/NotoSerifKR-Black.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif KR';
  font-weight: 800;
  src: url('@assets/fonts/NotoSerifKR-Black.woff') format('woff');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 100;
  src: url('@assets/fonts/AppleSDGothicNeoT.woff') format('woff');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 200;
  src: url('@assets/fonts/AppleSDGothicNeoUL.woff') format('woff');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 300;
  src: url('@assets/fonts/AppleSDGothicNeoL.woff') format('woff');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 400;
  src: url('@assets/fonts/AppleSDGothicNeoR.woff') format('woff');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 500;
  src: url('@assets/fonts/AppleSDGothicNeoM.woff') format('woff');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 600;
  src: url('@assets/fonts/AppleSDGothicNeoSB.woff') format('woff');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 700;
  src: url('@assets/fonts/AppleSDGothicNeoB.woff') format('woff');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 800;
  src: url('@assets/fonts/AppleSDGothicNeoEB.woff') format('woff');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 900;
  src: url('@assets/fonts/AppleSDGothicNeoH.woff') format('woff');
}
