@font-face {
  font-family: 'Noto Serif KR';
  src: local('Noto Serif KR'),
    url('./NotoSerifKR-ExtraLight.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: local('Noto Serif KR'), url('./NotoSerifKR-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: local('Noto Serif KR'),
    url('./NotoSerifKR-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: local('Noto Serif KR'),
    url('./NotoSerifKR-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  src: local('Noto Serif KR'),
    url('./NotoSerifKR-SemiBold.otf') format('opentype');
  font-family: 'Noto Serif KR';
  font-weight: 600;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: local('Noto Serif KR'), url('./NotoSerifKR-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: local('Noto Serif KR'), url('./NotoSerifKR-Black.otf') format('opentype');
  font-weight: 900;
}
