:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial,
    'Noto Serif KR' sans-serif, 'AppleSDGothicNeo';
  /* line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */

  background-color: 222222;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

body {
  position: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Noto Serif KR' sans-serif, 'AppleSDGothicNeo';
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Noto Serif KR';
  font-weight: normal;
  src: url('./assets/fonts2/NotoSerifKR-Regular.otf');
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-weight: normal;
  src: url('./assets/fonts2/AppleSDGothicNeoR.ttf');
}
