html {
  /* 익스플로러 IE 10 확대 제어 */
  -ms-content-zooming: none;
  -ms-touch-action: pan-x pan-y;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  font-family: sans-serif;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

body {
  position: fixed;
  margin: 0;
  padding: 0;
  min-width: 20rem;
  width: 100svw;
  height: 100svh;
}

a {
  text-decoration: none;
}

input,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: transparent;
}
